<template>
    <div class="content" :class="{ scrolled: isScrolled , scrolled50: isScrolled50 }">
        <Introduction />
        <!-- <Introduction /> -->
        <Blog />
    </div>
</template>

<script>
import Introduction from './content-components/Introduction';
import Blog from './content-components/Blog'

export default {
   name: 'Content',
   components: {
       Introduction,
       Blog,
   },
   props: {
        isScrolled: Boolean,
        isScrolled50: Boolean,
    },
};
</script>

<style lang="scss" scoped>
.content {
    background: rgba(247, 247, 247, .8);;
    grid-row: 2 / 4;
    grid-column: center-start / center-end;
    transition: background-color .2s ease-out .2s;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;

    &.scrolled50 {
        background-color: rgba(247, 247, 247, .9);
    }

    &.scrolled {
        background-color: rgba(247, 247, 247, .95);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    & > p {
        padding: 500px;
    }

    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
</style>