<template>
<transition appear>
    <header class="header">
        <img src="static/img/shubham.jpg" alt="Shubham Arora" class="image__me fade-in-rotate"/>
        <h1 class="heading__primary fade-in" >Shubham Arora</h1>
        <p class="heading__secondary fade-in" >Developer, Open Source Enthusiest</p>
    </header>
</transition>
</template>

<script>
export default {
   name: 'Header',
   data() {
       return {
           
       };
   },
};
</script>

<style lang="scss" scoped>

    .header {
        grid-column: col-start 3 / col-end 6;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @keyframes fadeIn { from { opacity:0; } to { opacity:1;} }
    @keyframes fadeInRotate { from { opacity:0; transform: rotate(-5deg); } to { opacity:1; transform: rotate(0)} }

    .fade-in {
        opacity:0;  /* make things invisible upon start */
        animation:fadeIn ease-in;
        animation-fill-mode:forwards;
        animation-duration: 1s;

    }

    .fade-in-rotate {
        opacity:0;  /* make things invisible upon start */
        animation:fadeInRotate ease-in;
        animation-fill-mode:forwards;
        animation-duration: 1s;

    }

    .image__me {
        width: 10.5rem;
        height: 10.5rem;
        border-radius: 50%;
        animation-delay: .5s;

    }

    .heading__primary {
        padding: 2rem 0;
        margin: 0 0 0.25rem 0;
        font-size: 4.5rem;
        color: #ffffff;
        font-weight: 600;
        animation-delay: .8s;
    }

    .heading__secondary {
        font-size: 2rem;
        letter-spacing: -0.025rem;
        color: #ffffff;
        text-align: center;
        font-weight: 400;
        animation-delay: 1.3s;
    }

</style>