:root {
    --color-primary-persimmon: #ff5753;
    --color-desire: #e63946;
    --color-honeydew: #f1faee;
    --color-blue-light: #a8dadc;
    --color-queen-blue: #457b9d;
    --color-space-cadet: #1d3557;
    --color-grey-light: #f0f0f0;
    --color-grey: #b8b8b8;
    --color-grey-dark: #707070;
    --color-black: #000000;
    --color-white: #ffffff;

    --line: 1px solid var(--color-grey-light)
}